@model IEnumerable<ToDoApp.Models.User>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add new Tasks</title>
</head>
<body>
    @await Html.PartialAsync("NavBar")
    <div class="container">
        <form action="/create" method="post">
            <fieldset>
                <legend>What do you have to do?</legend>

                <div class="form-group">
                    <label class="col-form-label" for="inputDefault"></label>
                    <input type="text" name="Title" class="form-control" placeholder="Keep it short!" id="inputDefault">
                </div>

                <div class="form-group">
                    <label for="exampleTextarea">Give more details</label>
                    <textarea class="form-control" id="Add details here" rows="2" name="Description"></textarea>
                </div>

                <div class="form-group">
                    <label for="exampleSelect1">Whose task is this</label>
                    <select class="form-control" id="exampleSelect1" name="User">
                        @foreach (var user in Model)
                        {
                            <option value="">@user.Name</option>
                        }
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="true" name="IsUrgent">
                        Check the box if it is urgent.
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
</body>
</html>