@model ToDoApp.Models.ToDo

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Title</title>
</head>
<body>
    @await Html.PartialAsync("NavBar")
    <div class="container">
        <br />
        <h1>@Model.Title</h1>
        @if (Model.IsUrgent)
        {
            <p class="text-danger">This task is URGENT</p>
        }

        <pre>@Model.Description</pre>
    </div>
</body>
</html>